footer{
  font-size: 15px;
  padding: 10px;
  font-weight: 300;
  background-color: #e6e4e4ac;
  margin-top: 550px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p a{
  font-size: 16px;
  font-weight: 500;
}

a{
  color: #382f40  ;
  text-decoration: none;
}

a:hover{
  color: #301364  ;
}
